.ban h1, .ban p{
    color:white;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

.ban{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.container{
    margin-top: 20px;
}

.carousel-caption h5{
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);

}

.card-bnb{
border-radius: 16px !important;
box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px !important;
}

.avatar{
    max-width: 128px ;
    max-height: 128px ;
    border-radius: 50%;
}

.avatar-medium{
    max-width: 64px ;
    max-height: 64px ;
}
.avatar-mini{
    max-width: 32px ;
    max-height: 32px ;
}

.avatar-micro{
    max-width: 20px ;
    max-height: 20px ;
}

.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
    color:red !important;
}
 .rating i{
     color:#DAA520;
 }